name: Deploy AWS Instance

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up AWS credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  #aws-region: ${{ secrets.AWS_REGION }}
                  aws-region: us-east-2
                  #aws-region: 'ap-south-1'
                  #aws-region: ap-south-1 #${{ secrets.AWS_REGION }}      

            #- name: Install Terraform
            #  #uses: actions/setup-terraform@v2             
            #  uses: actions/setup-terraform@v3

            - name: HashiCorp - Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2
            
            - name: Initialize Terraform
              run: terraform init

            - name: Plan Terraform changes
              run: terraform plan

            - name: Apply Terraform changes
              run: terraform apply