name: Deploy AWS Instance

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up AWS credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  region: ${{ secrets.AWS_REGION }}

            - name: Install Terraform
             #uses: actions/setup-terraform@v2
              uses: actions/setup-terraform@v2

            - name: Initialize Terraform
              run: terraform init

            - name: Plan Terraform changes
              run: terraform plan

            - name: Apply Terraform changes
              run: terraform apply